# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
.turbo/
public/r/

# Environment
.env
.env.local
.env*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
.qoder

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Misc
.tsbuildinfo

# Other
/docs
PDFx-DESIGN-SYSTEM
.venv